<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Soporte técnico</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="view/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="view/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/view/dataTables/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="/view/dataTables/button.bootstrap5.scss">
  <link rel="stylesheet" href="/view/dataTables/button.bootstrap.scss">
  <link rel="stylesheet" href="/view/dataTables/button.dataTables.scss">
  <script src="/view/jquery/jquery-3.7.1.min.js"></script>
  <script src="/view/fontawesome/js/all.min.js"></script>
  <script src="/view/dataTables/button.bootstrap5.js">
  <script src="/view/dataTables/button.bootstrap.js"></script>
  <script src="/view/dataTables/dataTables.js"></script>
  <script src="/view/dataTables/dataTables.html5.js"></script>
  <script src="/view/dataTables/buttonjqueryui.js"></script>
  <script src="/view/js/tables.js"></script>
</head>


<body>
 
<!-- Navbar Start -->
<div class="container-fluid p-0" syle="border-radius: 0px 0px 20px 20px">
    <nav class="navbar navbar-expand-lg navbar-primary py-4 py-lg-0 px-lg-5 p-5"  " style="background-color:rgba(70, 132, 255, 0.594) ;border-radius: 0px 0px 13px 13px" height="100%" >
     
        <a href="index.php" class="navbar-brand ml-lg-3">
        <h1 class="m-0 text-uppercase  text-white">E.B.N "Villa Bolívar"</h1>
      </a>
    
      <div class="collapse navbar-collapse justify-content-between px-lg-6" id="navbarCollapse" style= border-radius: 40px 0px 40px 0px; >
        <div class="navbar-nav mx-auto py-0">
          <a href="index.php" class="nav-item nav-link active px-lg-15 "></a>
        </div>
        <a href="find-result.php" class="btn btn-primary py-2 px-4 d-none d-lg-block">Respaldo de BD</a>
        <a href="admin-login.php" class="btn btn-primary warningpx-4 d-none d-lg-block" style="border-radius: 25x 25x" >Registro de usuario</a>
        <a href="admin-login.php" class="btn text-danger py-2 px-4 d-none d-lg-block hover" style="color: rgb(175, 8, 8);" class="fa fa-power off"  aria-hidden="true"><spam class="fa fa-power-off" aria-hidden="true"></spam> Cerrar sesión</a>      
    </nav>
  </div>
  <!-- Navbar End -->


  <nav class="sidebar">
   <form class="form-control flex-row"
    <ul>
      <li><a href="#"> <spam class="fa fa-database" aria-hidden="true"></spam>Respaldo de Base de datos</a></li>
      <li><a href="#"> <spam class="fa fa-registered" aria-hidden="true"></spam>Registro de usuario</a></li>
      <li><a href="#"> <spam class="fa fa-power-off" aria-hidden="true"></spam> Cerrar sesión </a></li>
    </ul>
  </nav>
